* {
  font-family: 'Josefin Sans', sans-serif; }

.cursive {
  font-family: 'Dancing Script', cursive; }

.container {
  background-color: #FEFDFB;
  box-shadow: 0px 0px 53px 0px #F1F1F1;
  border-radius: 5px; }

nav {
  padding-left: 50px; }
  nav .logo {
    border-bottom: 1px dotted #757575;
    width: 363px;
    margin-left: 16px; }
  nav h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    color: #757575;
    font-family: 'Dancing Script', cursive; }
  nav ul {
    list-style: none; }
  nav li {
    display: inline-block; }
    nav li a {
      font-size: 22px; }

#content {
  margin-bottom: 30px; }

.name-desc-img {
  text-align: center;
  position: relative;
  width: 80%;
  margin: 188px auto 20px auto; }
  .name-desc-img h1 {
    font-size: 60px;
    font-weight: 600; }
  .name-desc-img p {
    font-size: 16px; }

.carouselSize {
  width: 90%;
  margin: 0 auto; }
  .carouselSize img {
    border-radius: 3px; }

.search-div {
  margin-top: 10px;
  margin-left: 25px; }
  .search-div label {
    font-size: 18px; }
  .search-div label:nth-child(2) {
    margin-left: 100px; }
  .search-div .search, .search-div .select {
    margin: 10px; }
  .search-div form {
    margin: 0 auto; }

.list ul {
  padding-left: 0px;
  list-style: none; }
.list img {
  opacity: 1.0;
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 0px 0px 53px 0px #F1F1F1;
  border-radius: 3px;
  margin-top: 10px; }
.list img:hover {
  opacity: 0.4; }
.list .thumbs {
  text-align: center;
  margin-left: 5px; }
.list p {
  font-size: 20px; }

#home-page-banner {
  width: 100%;
  position: relative;
  margin-top: 168px; }
  #home-page-banner img {
    width: 100%;
    z-index: -1; }
  #home-page-banner p {
    z-index: 5;
    font-size: 70px;
    margin-top: -246px;
    text-align: center;
    color: white; }
    #home-page-banner p span {
      font-family: 'Dancing Script', cursive; }

.container.content {
  padding-top: 130px;
  margin-bottom: 10%; }
  .container.content h1 {
    font-size: 60px;
    border-bottom: 1px dotted #757575;
    margin: 0 auto;
    color: #757575;
    margin-top: 15px;
    text-align: center; }
  .container.content .sauce-header {
    width: 665px; }
  .container.content .pepper-header {
    width: 470px; }
  .container.content p {
    font-size: 20px; }
  .container.content .list-title {
    margin-top: 50px;
    width: 151px; }

.modal-body {
  padding: 5px; }

.recipe {
  margin: 0 auto;
  width: 80%; }
  .recipe p {
    font-size: 20px; }
  .recipe h2 {
    font-size: 27px;
    text-transform: uppercase; }
  .recipe li {
    font-size: 16px; }
  .recipe .ingredients {
    border-right: 1px dotted #757575;
    height: 264px; }
  .recipe .ingredients-tools {
    margin-top: 47%; }
  .recipe .directions {
    padding-bottom: 30px;
    padding-top: 5px;
    border-top: 1px dotted #757575;
    margin-top: 14px;
    border-bottom: 1px dotted #757575;
    margin-bottom: 50px; }

.img-responsive {
  height: 450px; }

.modal-dialog {
  margin-top: 100px; }

/*# sourceMappingURL=app.css.map */
