* {
	font-family: 'Josefin Sans', sans-serif;
}

nav {
	padding-left: 50px;

	.logo {
		border-bottom: 1px dotted #757575;
		width: 400px;
		margin-left: 15px;
	}

	h1 {
		text-align: center;
		font-size: 80px;
		font-weight: 600;
		color: #757575;
		font-family: 'Dancing Script', cursive;
	}

	ul {
		list-style: none;
	}

	li {
		display: inline-block;
		
		a {
			font-size: 22px;
		}
	}
}

/*body {
	background-image: url('../img/test/chilis.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}*/

#content {
	border-radius: 10px;
	position: relative;
	margin-bottom: 30px;


}


.name-desc-img {
	text-align: center;
	position: relative;
	width: 400px;
	margin: 188px auto 20px auto;

	h1 {
		font-size: 40px;
		font-weight: 600;

	}

}

.ingredients-tools {
	margin-top: 40%;
}

.list {
	margin-top: 200px;
}



#home-page-banner {
	width: 100%;
	position: relative;
	margin-top: 168px;

	img {
		width: 100%;
		z-index: -1;
	}
	p {
		z-index: 5;
		font-size: 70px;
		margin-top: -246px;
		text-align: center;
		color: white;

		span {
			font-family: 'Dancing Script', cursive;
		}
	}
}

.modal-body {
	padding: 5px;
}

.recipe {
	margin-top: 200px;
	margin-bottom: 50px;
	position: relative;
}

.img-responsive {
	height: 450px;
}

.modal-dialog {
	margin-top: 100px;
}