* {
  font-family: 'Josefin Sans', sans-serif; }

.cursive {
  font-family: 'Dancing Script', cursive; }

.container {
  background-color: #FEFDFB;
  box-shadow: 0px 0px 53px 0px #F1F1F1;
  border-radius: 5px; }

nav {
  padding-left: 50px; }
  nav .logo {
    border-bottom: 1px dotted #757575;
    width: 363px;
    margin-left: 16px; }
  nav h1 {
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    color: #757575;
    font-family: 'Dancing Script', cursive; }
  nav ul {
    list-style: none; }
  nav li {
    display: inline-block; }
    nav li a {
      font-size: 22px; }

#content {
  margin-bottom: 30px; }

.name-desc-img {
  text-align: center;
  position: relative;
  width: 80%;
  margin: 50px auto 20px auto;
  color: #757575; }
  .name-desc-img h2 {
    font-size: 60px;
    font-weight: 600; }
  .name-desc-img p {
    font-size: 16px; }

.carouselSize {
  width: 90%;
  margin: 0 auto; }
  .carouselSize img {
    border-radius: 3px; }

.search-div {
  margin-top: 10px;
  margin-left: 25px; }
  .search-div label {
    font-size: 18px; }
  .search-div label:nth-child(2) {
    margin-left: 100px; }
  .search-div .search, .search-div .select {
    margin: 10px; }
  .search-div form {
    margin: 0 auto; }

.list ul {
  padding-left: 0px;
  list-style: none; }
.list img {
  opacity: 1.0;
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 0px 0px 53px 0px #F1F1F1;
  border-radius: 3px;
  margin-top: 35px; }
.list img:hover {
  opacity: 0.4; }
.list .thumbs {
  text-align: center;
  margin-left: 5px; }
.list p {
  font-size: 20px; }

#home-page-banner {
  width: 100%;
  position: relative;
  margin-top: 168px; }
  #home-page-banner img {
    width: 100%;
    z-index: -1; }
  #home-page-banner p {
    z-index: 5;
    font-size: 70px;
    margin-top: -246px;
    text-align: center;
    color: white;
    vertical-align: middle; }
    #home-page-banner p span {
      font-family: 'Dancing Script', cursive; }

.container.content {
  padding-top: 130px;
  margin-bottom: 10%;
  padding-bottom: 100px; }
  .container.content h1 {
    font-size: 60px;
    margin: 0 auto;
    color: #757575;
    margin-top: 50px;
    text-align: center; }
  .container.content .sauce-header {
    width: 665px; }
  .container.content .pepper-header {
    width: 470px; }
  .container.content .home-description {
    font-size: 20px; }
  .container.content .list-title {
    margin-top: 50px;
    width: 151px; }

.modal-body {
  padding: 5px; }

.recipe {
  margin: 0 auto;
  width: 80%; }
  .recipe p {
    font-size: 20px; }
  .recipe h2 {
    font-size: 27px;
    text-transform: uppercase; }
  .recipe li {
    font-size: 16px; }
  .recipe .ingredients {
    border-right: 1px dotted #757575;
    height: 264px; }
  .recipe .ingredients-tools {
    margin-top: 47%; }
  .recipe .directions {
    padding-bottom: 30px;
    padding-top: 5px;
    border-top: 1px dotted #757575;
    margin-top: 14px;
    border-bottom: 1px dotted #757575;
    margin-bottom: 50px; }

.pepper-details {
  margin-top: 50px;
  border-bottom: 1px dotted #757575; }
  .pepper-details .plant {
    border-right: 1px dotted #757575;
    height: 264px;
    margin-top: 10px;
    margin-bottom: 10px; }

.about {
  font-size: 20px;
  margin: 130px auto;
  width: 90%;
  padding: 100px;
  margin-bottom: 100px;
  border-top: 1px dotted #757575;
  border-bottom: 1px dotted #757575; }

.pepper-food {
  padding-bottom: 20px;
  margin-bottom: 100px; }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .list img {
    max-width: 400px; }

  #home-page-banner p {
    margin-top: -200px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .list img {
    max-width: 600px; }

  nav h1 {
    font-size: 60px; }

  #home-page-banner {
    margin-top: 145px; }
    #home-page-banner p {
      margin-top: -200px; }

  .list .thumbs {
    margin-top: 100px; }

  .container.content {
    padding-bottom: 100px; }
    .container.content .pepper-header {
      margin-top: 100px;
      margin-bottom: -100px; }
    .container.content .sauce-header {
      margin-bottom: -100px; }

  .pepper-details {
    border-bottom: none; }
    .pepper-details .plant {
      border-right: none; }

  .recipe .ingredients-tools {
    margin-top: 140px; }
  .recipe .ingredients {
    border-right: none; }
  .recipe .directions {
    border-top: none; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .list img {
    max-width: 400px; }

  nav {
    padding-left: 0px; }
    nav h1 {
      font-size: 50px; }
    nav .logo {
      border-bottom: none; }
      nav .logo h1 {
        font-size: 60px; }

  .search-div form {
    width: 350px; }

  #home-page-banner {
    margin-top: 135px; }
    #home-page-banner p {
      margin-top: -150px;
      font-size: 60px; }

  .container.content {
    box-shadow: none; }
    .container.content h1 {
      border-bottom: none; }
    .container.content .sauce-header {
      font-size: 40px;
      width: 100%; }
    .container.content .pepper-header {
      font-size: 40px;
      width: 100%; }

  .pepper-details {
    border-bottom: none; }
    .pepper-details .plant {
      border-right: none; }

  .recipe .ingredients-tools {
    margin-top: 120px; }
  .recipe .ingredients {
    border-right: none; }
  .recipe .directions {
    border-top: none; } }
@media only screen and (max-width: 479px) {
  .list .thumbs {
    margin: 0px -15px; }
  .list img {
    max-width: 320px; }

  nav {
    padding-left: 0px; }
    nav h1 {
      font-size: 40px; }
    nav .logo {
      border-bottom: none; }
      nav .logo h1 {
        font-size: 60px; }

  .search-div form {
    width: 350px; }

  #home-page-banner {
    margin-top: 135px; }
    #home-page-banner p {
      margin-top: -86px;
      font-size: 38px; }

  .container.content {
    box-shadow: none;
    padding-top: 20px;
    padding-bottom: 0px; }
    .container.content h1 {
      border-bottom: none; }
    .container.content .sauce-header {
      font-size: 38px;
      width: 100%; }
    .container.content .pepper-header {
      font-size: 40px;
      width: 100%; }

  .pepper-details {
    border-bottom: none; }
    .pepper-details .plant {
      border-right: none; }

  .recipe .ingredients-tools {
    margin-top: 120px; }
  .recipe .ingredients {
    border-right: none; }
  .recipe .directions {
    border-top: none; } }

/*# sourceMappingURL=app.css.map */
