<div class="container content">	
	<div class="about">
		<p>Spoonsauce is a Boston based hot sauce company founded in 2014.  The founder discovered his love for hot sauce early in life, and could never get enough. After experimenting with some home grown thai chilis over the summer, he decided to expand his art to a variety of peppers, mixtures, and spices.  Spoonsauce enjoys fully disclosing his knowledge, by sharing recipes and methods, as he continues to grow on this flavorful journey.</p>
	</div>
</div>