<div class="container content">
  <div class="name-desc-img">
    <h2 class="cursive">{{sauce.name}}</h2>
    <p>{{sauce.description}}</p>
  </div>
  <div class="carouselSize">
  <div ng-controller="CarouselCtrl">
    <div style="height: 305px">
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.img}}" style="margin:auto;">
        </slide>
      </carousel>
    </div>
  </div>
  </div>

  <div class="recipe">
    <div class="ingredients-tools row">
        <div class="col-md-6 ingredients">
          <h2>Ingredients</h2>
          <ul>
            <li class="ingredient" ng-repeat="ingredients in sauce.howto.ingredients">{{ingredients}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Tools</h2>
          <ul>
            <li ng-repeat="tools in sauce.howto.tools">{{tools}}</li>
          </ul>
        </div>
      </div>
        <div class="directions">
            <h2>Directions</h2> 
              <ol>
                <li ng-repeat="recipe in sauce.howto.recipe">{{recipe}}</li>
              </ol>
        </div>
      </div>
    </div>
</div>